<header class="header extra-pagination inner text-center">
  {{pagination}}
</header>

<div class="separator"><div class="first-level"><div class="second-level"><div class="third-level"></div></div></div></div>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
  <article class="{{post_class}}">

    <header class="header post-head">
      <h1 class="post-title"><a href="{{ url }}">{{ title }}</a></h1>
    </header>

    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>

    <section class="post-excerpt">
      <p>{{excerpt words="100"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </section>

    <footer class="post-meta">
      <div class="tags">
        {{tags separator=" &bullet; " prefix="Talking about: " }}
      </div>
    </footer>

  </article>
{{/foreach}}

<div class="separator"><div class="first-level"><div class="second-level"><div class="third-level"></div></div></div></div>

<header class="header extra-pagination inner text-center">
  {{pagination}}
</header>

