<nav class="navbar navbar-default">
  <div class="image-placeholder"></div>
  <div class="container">
    <div class="navbar-header hidden-xs">
      {{#if @blog.logo}}
        <a class="navbar-brand header-logo" itemprop="name" href="{{@blog.url}}">
          <img class="header-avatar" src="{{@blog.logo}}" alt="{{@blog.url}}"/>
        </a>
      {{/if}}
      <h1>Kostas Bariotis</h1>
      <p>
        I'm Kostas Bariotis, a web developer, a proud wanderer and a passionate doer. My mission is to write clean
        and efficient code, to solve problems on the web and to learn something more.
      </p>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/about">ABOUT</a>
        </li>
      </ul>
    </div>

    <div class="navbar-header visible-xs">
      {{#if @blog.logo}}
        <a class="navbar-brand header-logo" itemprop="name" href="{{@blog.url}}">
          <img class="header-avatar" src="{{@blog.logo}}" alt="{{@blog.url}}"/>
        </a>
      {{/if}}
      <h1>Kostas Bariotis</h1>
      <p>
        I'm Kostas Bariotis, a web developer, a proud wanderer and a passionate doer. My mission is to write clean
        and efficient code, to solve problems on the web and to learn something more.
      </p>
    </div>
  </div>
</nav>
