{{!< default}}

<nav class="navbar navbar-default">
  <div class="image-placeholder"></div>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#if @blog.logo}}
        <a class="navbar-brand header-logo" itemprop="name" href="{{@blog.url}}">
          <img class="header-avatar" src="{{@blog.logo}}" alt="{{@blog.url}}"/>
        </a>
      {{/if}}
      <h1>Kostas Bariotis</h1>
      <p>I'm Kostas Bariotis, a <a href="http://goodvid.io">Goodvidio</a>
        Engineer. My mission is to write clean and efficient code, to solve problems on the Web and to learn something more. </p>
    </div>

    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="blog container">

  <div class="medium-8 medium-offset-2">

    <header class="header">
      Latest Posts
    </header>

    <div class="separator"><div class="first-level"><div class="second-level"><div class="third-level"></div></div></div></div>

    <div class="posts">
      {{#foreach posts}}
          <article class="{{post_class}}">

            <header class="header post-head">
              <h1 class="post-title"><a href="{{ url }}">{{ title }}</a></h1>
            </header>

            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>

            <section class="post-excerpt">
              <p>{{excerpt words="100"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
            </section>

            <footer class="post-meta">
              <div class="tags">
                {{tags separator=" &bullet; " prefix="Talking about: " }}
              </div>
            </footer>

          </article>
      {{/foreach}}

      <div class="separator"><div class="first-level"><div class="second-level"><div class="third-level"></div></div></div></div>

      <article class="post text-right">
        <header class="header post-head">
          <h3 class="post-title"><a href="/page/2">Older Posts &gt;</a></h3>
        </header>
      </article>
    </div>

  </div>

</section>


